<h1>Books</h1>

<% @books.each do |book| %>

	<p><%= book.title %>, <%= book.author %>, <% book.year %></p>
	<p><%= book.description %></p><br>
	<%= link_to image_tag(book.url), "/books/#{book.id}" %>

<% end %>

